<!DOCTYPE html>
<html>

<head>
<title>{{student}} Result</title>
</head>

<body>
<p>Value Entered for {{ student }}</p>
<form action="{{ url_for('classes') }}">
  <input type="submit" value="Main Page" />
</form><br>

<p> </p>

<button onclick="showButton()">Score Student</button><br>

<div id="DIV1" class="hidden">
    <h2>Score for {{ student }} is {{ score }} / 20 or {{ scoreP }}%</h2><br>
    <h2>Preparedness: {{ num1 }}</h2><br>
    <h2>Engagement: {{ num2 }}</h2><br>
    <h2>Perseverance: {{ num3 }}</h2><br>
    <h2>Problem Solving: {{ num4 }}</h2><br>
    <h2>Professionalism: {{ num5 }}</h2><br>

    <form action="{{ url_for('students') }}" method = "POST">
    </form>

</div>
</body>
</html>


<style>
  div.hidden {
    display: none;
  }
</style>


<script>
function showButton(){
  document.getElementById("DIV1").style.display='block';
}
</script>
